<ul>
<li>耳標番号:<%- ear_num %></li>
<li>名前:<%- name %></li>
<li>性別:<%- sex %></li>
<li>出生日:<%- birth %></li>
<li>所有者ID:<%- owner_id %></li>
<li>母親ID:<%- parent %></li>
<li>娘牛リスト:<ul id="daughter-list"></ul></li>
<li>人口受精記録:<ul id="ailog-list"></ul></li>

</ul>

<p> t1:<%- t1 %>,t2:<%- t2 %>,t3:<%- t3 %>,t4:<%- t4 %>,t5:<%- t5 %>,
t6:<%- t6 %>,t7:<%- t7 %>,t8:<%- t8 %>,t9:<%- t9 %>,t10:<%- t10 %> </p>
<p> t11:<%- t11 %>,t12:<%- t12 %>,t13:<%- t13 %>,t14:<%- t14 %>,t15:<%- t15 %>,
t16:<%- t16 %>,t17:<%- t17 %>,t18:<%- t18 %>,t19:<%- t19 %>,t20:<%- t20 %> </p>
<p> t21:<%- t21 %>,t22:<%- t22 %>,t23:<%- t23 %>,t24:<%- t24 %>,t25:<%- t25 %>,
t26:<%- t26 %>,t27:<%- t27 %>,t28:<%- t28 %>,t29:<%- t29 %>,t30:<%- t30 %> </p>
<p> t31:<%- t31 %>,t32:<%- t32 %>,t33:<%- t33 %>,t34:<%- t34 %>,t35:<%- t35 %>,
t36:<%- t36 %>,t37:<%- t37 %>,t38:<%- t38 %>,t39:<%- t39 %>,t40:<%- t40 %> </p>
<p> t41:<%- t41 %>,t42:<%- t42 %>,t43:<%- t43 %>,t44:<%- t44 %>,t45:<%- t45 %>,
t46:<%- t46 %>,t47:<%- t47 %>,t48:<%- t48 %>,t49:<%- t49 %>,t50:<%- t50 %> </p>
