<div id="button">
    <input type="button" value="保存" id="save"/>
    <input type="button" value="取り消し" id="cancel" />
</div>
<ul id="cow-p-entity">
  <li>
    <div class="cow-p-tag">耳標番号:</div>
    <input class="cow-p-ent" value="<%- ear_num %>" id="ear_num" />
  </li>
  <li>
    <div class="cow-p-tag">名前:</div>
    <input class="cow-p-ent" value="<%- name %>" id="name" />
  </li>
  <li>
    <div class="cow-p-tag">性別:</div>
    <input type="radio" name="sex" class="cow-p-ent" id="sex-female" <% print((sex==="雌")?"checked":"") %> />雌
    <input type="radio" name="sex" class="cow-p-ent" id="sex-male" <% print((sex==="雄")?"checked":"") %> />雄
  </li>
  <li>
    <div class="cow-p-tag">出生日:</div>
    <input type="date" class="cow-p-ent" value="<%- birth %>" id="birth" />
  </li>
  <li>
    <div class="cow-p-tag">母親ID:</div>
    <input class="cow-p-ent" value="<%- parent %>" id="parent" />
  </li>
  <li>
    <div class="cow-p-tag">所有者ID: <%- owner_id %> </div>
  </li>
</ul><p />

<div id="additional">
    <div> t1:<input class="tinp" value="<%- t1 %>" id="t1" /> </div>
    <div> t2:<input class="tinp" value="<%- t2 %>" id="t2" /> </div>
    <div> t3:<input class="tinp" value="<%- t3 %>" id="t3" /> </div>
    <div> t4:<input class="tinp" value="<%- t4 %>" id="t4" /> </div>
    <div> t5:<input class="tinp" value="<%- t5 %>" id="t5" /> </div>

    <div> t6:<input class="tinp" value="<%- t6 %>" id="t6" /> </div>
    <div> t7:<input class="tinp" value="<%- t7 %>" id="t7" /> </div>
    <div> t8:<input class="tinp" value="<%- t8 %>" id="t8" /> </div>
    <div> t9:<input class="tinp" value="<%- t9 %>" id="t9" /> </div>
    <div> t10:<input class="tinp" value="<%- t10 %>" id="t10" /> </div>
    <p />

    <div> t11:<input class="tinp" value="<%- t11 %>" id="t11" /> </div>
    <div> t12:<input class="tinp" value="<%- t12 %>" id="t12" /> </div>
    <div> t13:<input class="tinp" value="<%- t13 %>" id="t13" /> </div>
    <div> t14:<input class="tinp" value="<%- t14 %>" id="t14" /> </div>
    <div> t15:<input class="tinp" value="<%- t15 %>" id="t15" /> </div>

    <div> t16:<input class="tinp" value="<%- t16 %>" id="t16" /> </div>
    <div> t17:<input class="tinp" value="<%- t17 %>" id="t17" /> </div>
    <div> t18:<input class="tinp" value="<%- t18 %>" id="t18" /> </div>
    <div> t19:<input class="tinp" value="<%- t19 %>" id="t19" /> </div>
    <div> t20:<input class="tinp" value="<%- t20 %>" id="t20" /> </div>
    <p />

    <div> t21:<input class="tinp" value="<%- t21 %>" id="t21" /> </div>
    <div> t22:<input class="tinp" value="<%- t22 %>" id="t22" /> </div>
    <div> t23:<input class="tinp" value="<%- t23 %>" id="t23" /> </div>
    <div> t24:<input class="tinp" value="<%- t24 %>" id="t24" /> </div>
    <div> t25:<input class="tinp" value="<%- t25 %>" id="t25" /> </div>

    <div> t26:<input class="tinp" value="<%- t26 %>" id="t26" /> </div>
    <div> t27:<input class="tinp" value="<%- t27 %>" id="t27" /> </div>
    <div> t28:<input class="tinp" value="<%- t28 %>" id="t28" /> </div>
    <div> t29:<input class="tinp" value="<%- t29 %>" id="t29" /> </div>
    <div> t30:<input class="tinp" value="<%- t30 %>" id="t30" /> </div> 
    <p />
    <div> t31:<input class="tinp" value="<%- t31 %>" id="t31" /> </div>
    <div> t32:<input class="tinp" value="<%- t32 %>" id="t32" /> </div>
    <div> t33:<input class="tinp" value="<%- t33 %>" id="t33" /> </div>
    <div> t34:<input class="tinp" value="<%- t34 %>" id="t34" /> </div>
    <div> t35:<input class="tinp" value="<%- t35 %>" id="t35" /> </div>

    <div> t36:<input class="tinp" value="<%- t36 %>" id="t36" /> </div>
    <div> t37:<input class="tinp" value="<%- t37 %>" id="t37" /> </div>
    <div> t38:<input class="tinp" value="<%- t38 %>" id="t38" /> </div>
    <div> t39:<input class="tinp" value="<%- t39 %>" id="t39" /> </div>
    <div> t40:<input class="tinp" value="<%- t40 %>" id="t40" /> </div>
    <p />

    <div> t41:<input class="tinp" value="<%- t41 %>" id="t41" /> </div>
    <div> t42:<input class="tinp" value="<%- t42 %>" id="t42" /> </div>
    <div> t43:<input class="tinp" value="<%- t43 %>" id="t43" /> </div>
    <div> t44:<input class="tinp" value="<%- t44 %>" id="t44" /> </div>
    <div> t45:<input class="tinp" value="<%- t45 %>" id="t45" /> </div>

    <div> t46:<input class="tinp" value="<%- t46 %>" id="t46" /> </div>
    <div> t47:<input class="tinp" value="<%- t47 %>" id="t47" /> </div>
    <div> t48:<input class="tinp" value="<%- t48 %>" id="t48" /> </div>
    <div> t49:<input class="tinp" value="<%- t49 %>" id="t49" /> </div>
    <div> t50:<input class="tinp" value="<%- t50 %>" id="t50" /> </div>
    <p />

</div>
